NEXT_PUBLIC_APP_NAME='Finkita Dashboard'
NEXT_PUBLIC_APP_DESCRIPTION='Best Ai Dashboard'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

NEXT_PUBLIC_API_URL='http://localhost:8000'
NEXT_PUBLIC_WS_URL='http://localhost:9090'
